html {
	font-size: 100px;
}

body {
	font-size: 0.14rem;
	color: #5d5c5c;
	background: #fff;
	font-family: 'PingFangSC-Regular', 'Helvetica', "Droid Sans", 'Arial', 'sans-serif'
}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
iframe,
menu,
nav,
section {
	display: block
}

button,
fieldset,
iframe,
img,
input {
	border: 0
}

a {
	text-decoration: none;
	color: #656565
}

a:hover {
	text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal
}

ul {
	list-style: none
}

img {
	vertical-align: top
}

button,
input,
select {
	-webkit-appearance: none;
	appearance: none;
	outline: none
}

input:focus,
textarea:focus {
	outline: none;
	-webkit-tap-highlight-color: transparent
}

div {
	-webkit-tap-highlight-color: transparent
}

div,
ul {
	-webkit-overflow-scrolling: touch
}

div::-webkit-scrollbar,
ul::-webkit-scrollbar {
	width: 0;
	height: 0
}

@media (min-width: 641px) {
	html{
		font-size: 140px;
	}
}